.job-card.failure {
    background: crimson;
}
.job-card.success {
    background: green;
}
.job-card {
    background: #424242;
}
.job-name, .commit-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}